* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #0f172a; /* dark navy */
  color: #e5e7eb;
}

.container {
  max-width: 950px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 0 0 1px rgba(148,163,184,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #f8fafc;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border-color: #38bdf8;
}

/* BUTTON */
button {
  padding: 10px 16px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #0ea5e9;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  border: 1px solid #1e293b;
  padding: 10px;
  text-align: center;
}

.table th {
  background: #020617;
  color: #e5e7eb;
}

.badge-paid {
  color: #22c55e;
  font-weight: bold;
}

.badge-unpaid {
  color: #ef4444;
  font-weight: bold;
}

.result {
  margin-top: 15px;
  padding: 12px;
  background: #020617;
  border: 1px dashed #38bdf8;
  border-radius: 6px;
}

select {
  width: 100%;
  padding: 10px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 6px;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #38bdf8;
}

option {
  background: #020617;
  color: #e5e7eb;
}
